*,*::before, *::after{
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
}
body{
    line-height: 1.5;
}
html{
    font-size: 16px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.padding{
    padding:5rem 0;
}
.text-center{
    text-align: center;
}
.width-100{
    width: 100%;
}
.font-0{
    font-size: 0;
}
.img{
    width:100%;
    object-fit: cover;
    -o-object-fit: cover;
}
.width-30{
    width: 30%;
    margin: 0 auto;
}
.btn{
    padding: 1rem 2rem;
}
.secondary-heading{
    font-size: 2.5rem;
    font-weight: 700;
}