.hero{
    background: url("../imgs/harley-davidson-rEPAjhzt7TY-unsplash.jpg") 50% 75% no-repeat;
    background-size: cover;
    height: 100vh;
    h1{
        font-size: 5rem;
        font-weight: 800;
    }
}