/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.width-100 {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.justify-grid-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-grid-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-grid-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-grid-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.template-column {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.span-4 {
  grid-column: span 4;
}

.span-2 {
  grid-column: span 2;
}

header .logo {
  font-size: 2rem;
  font-weight: 700;
}

header .logo i {
  color: red;
}

header .nav li {
  margin-right: 1rem;
}

header .nav li a {
  padding: 1rem;
  -webkit-transition: border-top 1s ,border-bottom 1s;
  transition: border-top 1s ,border-bottom 1s;
  font-size: 1.5rem;
}

header .nav li a:hover {
  border-top: 2px solid red;
  border-bottom: 2px dashed yellow;
}

.hero {
  background: url("../imgs/harley-davidson-rEPAjhzt7TY-unsplash.jpg") 50% 75% no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 800;
}
/*# sourceMappingURL=style.css.map */