/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.padding {
  padding: 5rem 0;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.font-0 {
  font-size: 0;
}

.img {
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.width-30 {
  width: 30%;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
}

.secondary-heading {
  font-size: 2.5rem;
  font-weight: 700;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.justify-grid-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-grid-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-grid-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-grid-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.template-column {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.template-column-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.span-4 {
  grid-column: span 4;
}

.span-2 {
  grid-column: span 2;
}

.grid-column-gap {
  grid-column-gap: 2rem;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
}

header .logo {
  font-size: 2rem;
  font-weight: 700;
}

header .logo i {
  color: red;
}

header .nav li {
  margin-right: 1rem;
}

header .nav li a {
  padding: 1rem;
  -webkit-transition: border-top 1s ,border-bottom 1s;
  transition: border-top 1s ,border-bottom 1s;
  font-size: 1.5rem;
  color: white;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../imgs/harley-davidson-rEPAjhzt7TY-unsplash.jpg") 65% 70% no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../imgs/harley-davidson-rEPAjhzt7TY-unsplash.jpg") 65% 70% no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 800;
}

.why-onn h2 {
  margin-bottom: 2rem;
}

.why-onn p {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.why-onn article {
  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 1rem;
  text-align: center;
}

.why-onn article h4 {
  font-size: 1.23rem;
  margin-top: 2rem;
  font-weight: 600;
  text-align: center;
}

.why-onn article p {
  text-align: center;
  margin: 0;
  margin: 1rem 0;
}

.about-sec {
  background-color: black;
  color: white;
}

.about-sec article {
  grid-column-gap: 4rem;
}

.about-sec article .about-content
h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about-sec article h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-sec article p {
  color: #677682;
  margin-bottom: 2rem;
}

.about-sec article i {
  margin-right: 1rem;
}

.about-sec article a {
  color: white;
  background: #e34f0d;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 3px 0 rgba(160, 193, 184, 0.8);
          box-shadow: 0 3px 0 rgba(160, 193, 184, 0.8);
}

.about-sec article a:hover {
  background-color: white;
  color: black;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.about-sec article .reserve-btn {
  background-color: white;
  color: black;
  margin-left: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 3px 0 rgba(160, 193, 184, 0.8);
          box-shadow: 0 3px 0 rgba(160, 193, 184, 0.8);
}

.about-sec article .reserve-btn:hover {
  background-color: #e34f0d;
  color: white;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.about-sec .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.about-sec .overlay a {
  padding: 1rem;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  -webkit-transition: background 1s ease-in-out , color 1s ease-in-out;
  transition: background 1s ease-in-out , color 1s ease-in-out;
}

.about-sec .overlay a:hover {
  background: white;
  color: black;
  font-size: 1.25rem;
}

.faq-sec p.text-center {
  margin: 1.5rem 0;
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.faq-sec .grid {
  grid-column-gap: 10rem;
}

.faq-sec article {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 1rem;
}

.faq-sec article i {
  font-size: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.faq-sec article h5 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.included-services article img {
  height: 400px;
}

footer {
  background: #242c38;
}

footer .container {
  border-bottom: 1px solid #8b8e99;
  padding: 3rem;
}

footer h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

footer nav li {
  color: #8b8e99;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

footer nav li span, footer nav li a {
  color: #8b8e99;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

footer nav li span i, footer nav li a i {
  margin-right: 1rem;
}

footer nav li span:hover, footer nav li a:hover {
  border-bottom: 0.1rem solid #8b8e99;
  color: #e34f0d;
}

footer .follow-us li {
  margin-right: 1rem;
}

footer .follow-us li a {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .follow-us li a i {
  margin: 0;
}

footer .follow-us li a:hover {
  background: #e34f0d;
  color: black;
}
/*# sourceMappingURL=style.css.map */